<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bluetoothpluginwrapper" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BluetoothPluginWrapper</name>
    <js-module name="BluetoothPluginWrapper" src="www/BluetoothPluginWrapper.js">
        <clobbers target="BluetoothPluginWrapper" />
    </js-module>
    <platform name="android">
    <!-- <lib-file src="src/android/libs/mPaySdk_sandbox_2.0.8_23102019.jar" /> -->
    <!-- <lib-file src="src/android/libs/mPaySdk_sandbox_2.0.8_23102019.jar" /> -->
       <!-- <framework src="src/android/app/build.gradle" custom="true" type="gradleReference"/> -->

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BluetoothPluginWrapper">
                <param name="android-package" value="cordova.plugin.bluetoothpluginwrapper.BluetoothPluginWrapper" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/BluetoothPluginWrapper.java" target-dir="src/bluetoothpluginwrapper/BluetoothPluginWrapper" />
        <source-file src="src/android/libs/mPaySdk_sandbox_2.0.8_23102019.jar" arch="device" target-dir="libs/" />

        <!-- <lib-file src="src/android/libs/mPaySdk_sandbox_2.0.8_23102019.jar" target-dir="libs" /> -->
        <source-file src="src/android/libs/armeabi/libserialport.so" target-dir="libs/armeabi/" />
        <source-file src="src/android/libs/armeabi/libserial_port.so" target-dir="libs/armeabi/" />
        <source-file src="src/android/libs/armeabi/liba01jni.so" target-dir="libs/armeabi/" />
    </platform>
</plugin>